<?xml version="1.0" encoding="utf-8"?>
<Root>
    <Parameters>
        <Parameter name="excludebyattribute">*.ExcludeFromCodeCoverage*;*.GeneratedCodeAttribute*;*.CompilerGenerated*</Parameter>
        <Parameter name="filter">"+[Twingly.Search.Client]*"</Parameter>
        <Parameter name="register">user</Parameter>
        <Parameter name="mergebyhash"></Parameter>
        <Parameter name="hideskipped">all</Parameter>
    </Parameters>
</Root>
